@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --topbar-height: 60px;
  --shadow-button: 0 0 8px 0 black,
    0 4px 8px 0 dark, 0 8px 16px 0 yellow;
  --shadow-card: 0 0 4px 0 red,
    0 2px 4px 0 blue, 0 4px 8px 0 green;
}

@layer base {
  html,
  body,
  #root {
    @apply h-full;
  }
}